@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans JP', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #d8eefe;
  color: #5f6c7b;
}
